RewriteEngine On
RewriteBase /

RewriteCond %{DOCUMENT_ROOT}/gifs/$1 -f
RewriteRule ^(.*)$ /gifs/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php [L,QSA]

