{% extends 'layout.html' %}

{% block content %}
		<div class="about">
			<p>by <a href="http://pierrebertet.net/">Pierre Bertet</a> (<a href="mailto:bonjour@pierrebertet.net">bonjour@pierrebertet.net</a>, <a href="https://twitter.com/bpierre">Twitter</a>, <a href="https://github.com/bpierre">GitHub</a>)</p>
			<p>gif.gg is <a href="https://github.com/bpierre/gif.gg">open source</a>, contributions are welcomed ☺</p>
			<p>
				made with
				<a href="http://jnordberg.github.io/gif.js/">gif.js</a>,
				<a href="http://browserify.org/">browserify</a>,
				<a href="https://github.com/fryn/html5slider">html5slider</a>,
				<a href="http://silex.sensiolabs.org/">Silex</a>
			</p>
		</div>
		{% include 'back-to-home.html' %}
{% endblock %}

