<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		{% spaceless %}
		<title>{% block title %}gif.gg{% endblock %}</title>
		{% endspaceless %}
		<link rel="shortcut icon" href="/favicon.png" type="image/png">
		<style>
			body, img, a {
				display: block;
				margin: 0 auto;
				width: 320px;
			}
		</style>
	</head>
	<body>
	<a href="https://gif.gg/{{ gif_id }}" target="_blank"><img src="{{ gif_url }}" alt=""></a>
		{% if not debug %}{% include 'analytics.html' %}{% endif %}
	</body>
</html>
